@import "../constants.css";
/*
style works well without import
maybe because React do auto integration of all css
*/

.form {
    background: var(--white);
    max-width: var(--fixed-width);
    margin: 0 auto 4rem;
    padding: 1rem 2rem;
    border-radius: var(--radius);
}
.form input {
    background: var(--background-color);
    border-color: transparent;
    border-radius: var(--radius);
    padding: 0.25rem 0.5rem;
    font-size: medium;
}
.form-control {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}
.form .check-box{
    margin: 0 10px 4px 10px;
    vertical-align: middle;
}
.form select{
    background-color: var(--background-color);
    font-size: medium;
}
.form .cancel:hover{
    cursor: pointer;
}
.form .cancel {
    color: red;
}
.form .choice-btn {
    display: inline-block;
    padding: 0.45rem;
}
.form .choice-btn:hover {
    text-shadow: 0 0 4px var(--black);
    cursor: pointer;
}
.form .over-max-choice {
    color: red;
    font-size: 11px;
    margin: -5rem 0;
}
.form .clear-btn {
    display: inline-block;
    background: var(--white);
    color: var(--black);
    border-color: var(--black);
    margin: 1rem 5rem 0 0;
    letter-spacing: var(--spacing);
    padding: 0.45rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: medium;
}
.form .clear-btn:hover {
    box-shadow: 0 0 4px var(--black);
}

.title {
    color: var(--title-color);
    font-size: larger;
    text-align: center;
}

