@import "constants.css";

*,
::after,
::before {
    /*
    Reset, ensure the consistency of UI delivery in different browsers.
    */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background-color);
    color: var(--font-color);
    line-height: 2;
    font-size: 1.1rem;
}

html, body{
    /*
    To avoid 'Uncaught TypeError: Cannot read properties of null'
    */
    height: 100%;
}


